<html>
    <head>
        <title> Petition From CFC</title>
    </head>
    <body>
        <form name = petForm ; method = post ; id="peform">
            Petition Tite : &nbsp;&nbsp;
            <input type = text name="title">
            <br><br>
            Petition Category : &nbsp;&nbsp;
            <!--input type="button" value="category" name="category" onclick="getCategories" id="pet_category"-->
            <select name="cars"><!-- add JS functon -->
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
            </select>
            <br><br>
            Description  : &nbsp;&nbsp;
            <input type="text" maxlength="2000" name="details" style="height:30%;flex-wrap: wrap">
            <br><br>
            Target Date : &nbsp;&nbsp;
            <input type="date" name="target_date">
            <br><br>
            <input type="submit" value="submit">
            <br><br>
            <!--hello world-->
        </form> 
    </body>
</html>

